@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "NanumSquareR";
  font-style: normal;
  src: url("./fonts/NanumSquareR.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "NanumSquareR";
}