@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'MinSans';
  src: url("./fonts/MinSans-Thin.otf") format("opentype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'MinSans';
  src: url("./fonts/MinSans-ExtraLight.otf") format("opentype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'MinSans';
  src: url("./fonts/MinSans-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'MinSans';
  src: url("./fonts/MinSans-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'MinSans';
  src: url("./fonts/MinSans-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'MinSans';
  src: url("./fonts/MinSans-SemiBold.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'MinSans';
  src: url("./fonts/MinSans-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'MinSans';
  src: url("./fonts/MinSans-ExtraBold.otf") format("opentype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'MinSans';
  src: url("./fonts/MinSans-Black.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
}

body {
  margin: 0;
  font-family: "MinSans";
}